#filters{
  background-color:rgba(0, 0, 0, 0.37);
  padding-top:20px;
  padding-bottom:6px;
  padding-left: 10px;
  border-radius: 10px;
}

#pagination{
  border-radius: 5px 5px 0px 0px;
  padding-top:-15px;
  width:max-content;
  }

  .pag /deep/ .ngx-pagination .current {
    background: transparent;
    color:red;
  }
  .pag /deep/ .ngx-pagination :hover {
    background: transparent;
    color:cadetblue;
  }
  .pag /deep/ {
    background-color: rgba(70, 70, 70, 0.671);
    border-radius: 3px;
    height:26px;
  }

  .active{
    display: block;
  }

  .not-active{
    display: none;
  }
