<br>
<br>

<div class="container mt-3" id="filters">
  <div class="row">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="loadLikes()">Members I like</button>
      <button class="btn btn-primary" (click)="loadWhoLiked()">Members Who liked Me</button>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-2" *ngFor="let user of users | paginate: {itemsPerPage:6, currentPage:p}">
      <div class="card mb-2">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="{{user.profile_img || './assets/user.jpg'}}">
        </div>
        <div class="card-body p-1">
          <ul class="list-inline user-icons animate text-center">
            <li class="list-inline-item">
              <button routerLink="/members/{{user.targetUser}}" *ngIf="liked" class="btn btn-primary">
                <i class="fa fa-user"></i>
              </button>
              <button routerLink="/members/{{user.sourceUser}}" *ngIf="whoLiked" class="btn btn-primary">
                <i class="fa fa-user"></i>
              </button>
            </li>
            <li class="list-inline-item" *ngIf="liked"><button class="btn btn-primary" (click)="dislike(user._id)">
              <i class="fa fas fa-thumbs-down"></i></button></li>
          </ul>
          <h6 *ngIf="liked" class="card-title text-center mb-1" >
            <i class="fa fa-user m-1"></i>{{user.targetUser}}
          </h6>
          <h6 *ngIf="whoLiked"class="card-title text-center mb-1" >
            <i class="fa fa-user m-1"></i>{{user.sourceUser}}
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls class="pag" (pageChange)="p = $event"></pagination-controls>
  </div>
