
<h1 style="color:red">Welcome To Dating App !</h1>
<h3>Register And Find Your Match Today !</h3>




















<!-- <button class="btn btn-danger"(click)="info=!info">{{info?'close':'info'}}</button>
<div *ngIf="info">
<h1 class="info-title">About The Dating App</h1>
<h2 class="info-desc">This is a dating app where you can find any user that is registered and send them a message <a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/">Steam</a></h2>
<br>
<h2 class="info-desc">We have made over 2000 connections around the world, and now you are welcome to join us!</h2>
</div> -->
