nav{
width:102% !important;
/* background-color: #1c1e1f ; */
}

#username,#password{
  width:150px;
  padding:5px;
  margin-right:5px;
}

.user-input,.user-login{
  display:flex
}

#dropdown-item-logout:hover{
  color:red;
}

.dropdown-toggle, .dropdown-item
{
color:white;
cursor: pointer;
}


.dropdown-item:hover
{
background-color: rgba(0, 0, 0, 0);
transform: scale(1.02);
transition:transform 0.1s;
animation-duration: 0.2s;
transition-timing-function: ease-out;
}

.dropdown-menu{
  border-radius: 0px 0px 10px 10px;
  background-color:  #181a1b;
  margin-right:14% !important;
position:block;
  background: faded;
  box-shadow: 0 8px 15px 6px rgba(0, 0, 0, 0.2);
}

.img {
 height: 50px;
 width:50px;
  border:2px solid rgb(0, 53, 70);
  display:inline;
  border-radius: 50px !important;
}
