  h4,h1,h6,strong,p{ color:white; text-shadow: 3px 3px  rgba(0, 0, 0, 0.267);}

  #alert{text-shadow:none;}

  .form-control {box-shadow: rgba(0, 0, 0, 0.267) 5px 5px 8px;}

  .alert-info > strong{color:red;}

  .alert-info{
    background-color: rgb(255, 255, 255);
    color:black;
    width:50rem;
    animation:fadeIn 1.5s;
  }

  .card{
    margin-left:70px;
    background-color: #181a1b;
    border-radius: 10px 10px 0px 0px;
  }


.img-thumbnail {
    max-width:600px;
    background-color: #181a1b;
    border:1px solid #181a1b;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.col-4{width:600px;}

  .card-body {
    padding: 0px 25px;
    background-color: #181a1b;
    color:white;
  }

  .card-footer {
    padding: 10px 15px;
    background-color: #0a0b0b !important;
    border-top: none;
    /* background-color: rgba(0, 0, 0, 0.383) */
  }

  ngx-tabset {
    background-color: #0041f3eb !important;
    border: 1px solid #2861ff;
    color: #fff;
  }
