<div class="row mt-3" *ngIf="user">
    <div class="col-4">
        <div class="card">
            <img class="card-img-top img-thumbnail" src="{{user.profile_img || './assets/user.jpg'}}" alt="{{user.username}}">
            <div class="card-body mt-1">
                <div>
                    <strong>First Name:</strong>
                    <p>{{user.firstName}}</p>
                </div>
                <div>
                    <strong>Last Name:</strong>
                    <p>{{user.lastName}}</p>
                </div>
                <div>
                    <strong>Gender:</strong>
                    <p>{{user.gender}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{age}}</p>
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{user.city}}, {{user.country}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="addLike(user)">Like</button>
                    <button class="btn btn-success" (click)="selectTab(1)">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset #memberTabs class="member-tabset">
            <tab heading="About {{user.firstName}} {{user.lastName}}" (selectTab)="onTabActivated($event)">
                <br>
                <h4>Description:</h4>
                <p>{{user.intro}}</p>
                <br>
                <br>
                <h4>{{user.firstName}} Is looking for:</h4>
                <p>{{user.interests}}</p>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)" >
                <app-member-messages [messages]="messages" [username]="user.username">
                </app-member-messages>
               </tab>
        </tabset>
    </div>
</div>
